.git
.gitignore
*.md
compiler.html
sobre.md
*.glb
!assets/3d/
!assets/3d/novaCaixa.glb
!assets/3d/flores.glb
!assets/3d/mamo-letras.glb
!assets/3d/gramanova.glb
!assets/3d/novacolecaofrase.glb
!assets/3d/givermy.glb
sw-v10.js
sw-v11.js
sw-v12.js
sw-v13.js
assets/targets
assets/mamo-video.mp4
